@use "../basics/variables";

.main-navigation {
  display: flex;
  justify-content: flex-end;
  padding: 5px 20px;
  background-color: variables.$color-blue;

  ul {
    display: flex;
    gap: 20px;

    li {
      list-style-type: none;
    }
  }
}
