@use '../basics/functions' as fn;

.cards-container {
    display: flex;
    flex-direction: column;
    height: inherit;
    gap: fn.toRem(20);

    .card-container {
        display: flex;
        grid-column: 1 / 2;
        flex-wrap: wrap;

        .card-img {
            width: auto;
            height: fn.toRem(80);
        }

        h2, p {
            margin: unset;
        }
    }
}