/* BASICS */
@use 'basics/variables';
@use 'basics/general';

/* PARTIALS */
@use 'partials/footer';
@use 'partials/header';

/* COMPONENTS */
@use "components/button";
@use "components/form";
@use "components/expense-cards";
@use "components/category";

/* FONT */
@font-face {
    font-family: 'Roboto';
    src: url("basics/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf");
}

@font-face {
    font-family: 'Roboto-italic';
    src: url("basics/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf");
}