@use "../basics/variables" as var;
@use "../basics/functions" as fn;

body {
    background-color: var.$color-camel-white;
    margin: unset;
    font-family: var.$font-family-base;
    color: var.$color-black;
}

h1, h2, h3, h4 {
    margin: unset;
}

.hidden {
    display: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: fn.toRem(25) 0;
    height: 100dvh;
    width: 100dvw;
    max-width: fn.toRem(1920);
}

.container {
    display: flex;
    flex-direction: column;
}