/* COLORS */
$color-white: #FFFAFA;
$color-camel-white: #FAF8F4;
$color-dark-brown: #231E0F;
$color-blue: #323291;
$color-light-blue: #93c5fd;
$color-black: black;
$color-yellow-pikachu: #F9C405;
$color-green-bulbizarre: #4E8235;

/* FONTS */
$font-family-base: "Inter", sans-serif;
$font-color-light-grey: #A7A5A1;
$font-color-blue: #5DB9FF;

/* BORDER */
$border-color-grey: #3A372C;
